#navbar {
    background-color:#1F1F29;
}

#navbar ul {
    list-style: none;
    margin: 0%;
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}

#navbar li {
    color: inherit;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 6vw;
    border-radius: 10px;
    border-bottom: 3px solid #31313b;
    background-color: #1F1F29;
}

#navbar a:hover {
    color: #7d1ee9;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: inherit;
}