#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#navbar li {
    color: inherit;
}

#navbar a {
    text-decoration: none;
    color: inherit
}

#navbar a:hover {
    color: #7d1ee9;
}