.caption {
    font-size: 10px;
    font-weight: 300;
}

.body {
    font-size: 16px;
    font-weight: 300;
}

.subhead {
    font-size: 24px;
    font-weight: 600;
}

.title {
    font-size: 60px;
    font-weight: 600;
}

body {
    font-family: "JetBrains Mono";
    background-color: #1F1F29; /* background image here */
    color: #e6d7bf;
    border-color: #31313b;
}

.important {
    font-family: "IBM Plex Sans";
}

.accent {
    color: #7d1ee9;
}